<h2 *ngIf="selectedGame.id">Edit {{originalName}}</h2>
<h2 *ngIf="!selectedGame.id">Add Game</h2>

<form (ngSubmit)="save()" [formGroup]="gameForm">

  <label for="season">Season</label>
  <input
    *ngIf="selectedGame.id"
    formControlName="seasonName"
    type="text"
    class="form-control">
  
  <select
    *ngIf="!selectedGame.id"
    formControlName="season"
    class="form-control"
    id="season">
    <option *ngFor="let season of seasons$ | async" [ngValue]="season">{{season.seasonName}}</option>
  </select>

  <div formGroupName="gameInfo">
    <label for="opponent">Opponent</label>
    <select
      formControlName="opponent"
      class="form-control"
      id="opponent">
      <option *ngFor="let opponent of teams$ | async | filterBy: division | filterExclude: team" [ngValue]="opponent">{{opponent.teamName}}</option>
    </select>
    
    <div class="form-group">
      <label for="date">Date</label>
      <input
        formControlName="date"
        type="text"
        class="form-control"
        id="date"
        placeholder="ex Fri Jan 20 2017">
    </div>
  
    <div class="form-group">
      <label for="time">Time</label>
      <input
        formControlName="time"
        type="text"
        class="form-control"
        id="time"
        placeholder="ex 20:00:00 GMT-0500 (EST)">
    </div>
  
    <label for="gameType">Game Type</label>
    <select
      formControlName="gameType"
      class="form-control"
      id="gameType">
      <option *ngFor="let gameType of gameTypes" [ngValue]="gameType">{{gameType}}</option>
    </select>
  </div>
  
  <button (click)="cancel()" type="button" class="btn btn-default">Cancel</button>
  <button type="submit" class="btn btn-primary">Save</button>

</form>
