<h2 *ngIf="selectedScore.id">Edit {{originalName}}</h2>
<h2 *ngIf="!selectedScore.id">Add Score</h2>

<form (ngSubmit)="save()" [formGroup]="scoreForm">

  <label for="game">Game</label>
  <input
    *ngIf="selectedScore.id"
    formControlName="gameName"
    type="text"
    class="form-control">
  
  <select
    *ngIf="!selectedScore.id"
    formControlName="game"
    class="form-control"
    id="game">
    <option *ngFor="let game of games$ | async" [ngValue]="game">vs {{game.opponentName}} {{game.date | date: 'EEE MMM d y h:mm'}} {{game.divisionName}} {{game.leagueName}} </option>
  </select>

  <div formGroupName="scoreInfo">
    <label for="scoreType">ScoreType</label>
    <select
      formControlName="scoreType"
      class="form-control"
      id="scoreType">
      <option
        *ngFor="let scoreType of scoreTypes" [ngValue]="scoreType">{{scoreType}}</option>
    </select>
  
    <label for="goalScorer">Goal Scorer</label>
    <select
      formControlName="goalScorer"
      class="form-control"
      id="goalScorer">
      <option
        *ngFor="let goalScorer of players$
          | async
          | filterBy: team
          | filterExcludeSelf: assistorOne
          | filterExcludeSelf: assistorTwo"
        [ngValue]="goalScorer">{{goalScorer.playerName}}</option>
    </select>
  
    <label for="assistorOne">Assistor One</label>
    <select
      formControlName="assistorOne"
      class="form-control"
      id="assistorOne">
      <option
        *ngFor="let assistorOne of players$
          | async
          | filterBy: team
          | filterExcludeSelf: scorer
          | filterExcludeSelf: assistorTwo"
        [ngValue]="assistorOne">{{assistorOne.playerName}}</option>
    </select>
  
    <label for="assistorTwo">Assistor Two</label>
    <select
      formControlName="assistorTwo"
      class="form-control"
      id="assistorTwo">
      <option
        *ngFor="let assistorTwo of players$
          | async
          | filterBy: team
          | filterExcludeSelf: scorer
          | filterExcludeSelf: assistorOne"
        [ngValue]="assistorTwo">{{assistorTwo.playerName}}</option>
    </select>
  
    <label for="situation">Situation</label>
    <select
      formControlName="situation"
      class="form-control"
      id="situation">
      <option
        *ngFor="let situation of situations" [ngValue]="situation">{{situation}}</option>
    </select>
  
    <label for="period">Period</label>
    <select
      formControlName="period"
      class="form-control"
      id="period">
      <option
        *ngFor="let period of periods" [ngValue]="period">{{period}}</option>
    </select>
  
    <div class="form-group">
      <label for="scoreTime">Score Time</label>
      <input
        formControlName="scoreTime"
        type="text"
        class="form-control"
        id="scoreTime"
        placeholder="ex 7:11">
    </div>
  </div>
  
  <button (click)="cancel()" type="button" class="btn btn-default">Cancel</button>
  <button type="submit" class="btn btn-primary">Save</button>

</form>
