<h2 *ngIf="selectedTeam.id">Edit {{originalName}}</h2>
<h2 *ngIf="!selectedTeam.id">Add Team</h2>

<form (ngSubmit)="save()" [formGroup]="teamForm">
  
  <label for="league">League</label>
  <input
    *ngIf="selectedTeam.id"
    formControlName="leagueName"
    type="text"
    class="form-control">
  
  <select
    *ngIf="!selectedTeam.id"
    formControlName="league"
    class="form-control"
    id="league">
    <option *ngFor="let league of leagues$ | async" [ngValue]="league">{{league.leagueName}}</option>
  </select>

  <label for="division">Division</label>
  <input
    *ngIf="selectedTeam.id"
    formControlName="divisionName"
    type="text"
    class="form-control">
  
  <select
    *ngIf="!selectedTeam.id"
    formControlName="division"
    class="form-control"
    id="division">
    <option *ngFor="let division of divisions$ | async | filterBy: league" [ngValue]="division">{{division.divisionName}}</option>
  </select>
  
  <div class="form-group">
    <label for="team">Team</label>
    <input
      formControlName="teamName"
      type="text"
      class="form-control"
      id="team"
      placeholder="ex Falcons">
  </div>
  
  <button (click)="cancel()" type="button" class="btn btn-default">Cancel</button>
  <button type="submit" class="btn btn-primary">Save</button>

</form>
