<form class="mar-top-2">
  <div class="form-group">
    <label for="league">League</label>
    <input type="email" class="form-control" id="league" placeholder="League">
  </div>
  <div class="form-group">
    <label for="division">Division</label>
    <input type="email" class="form-control" id="division" placeholder="Division">
  </div>
  <div class="form-group">
    <label for="teamPlayFor">Team Play For</label>
    <input type="email" class="form-control" id="teamPlayFor" placeholder="Team Play For">
  </div>
  <div class="form-group">
    <label for="player">Player</label>
    <input type="email" class="form-control" id="player" placeholder="Player">
  </div>
  <div class="form-group">
    <label for="season">Season</label>
    <input type="email" class="form-control" id="season" placeholder="Season">
  </div>
  <button type="submit" class="btn btn-primary btn-block">Submit</button>
</form>