<h2 *ngIf="selectedPlayer.id">Edit {{originalName}}</h2>
<h2 *ngIf="!selectedPlayer.id">Add Player</h2>

<form (ngSubmit)="save()" [formGroup]="playerForm">
  
  <label for="league">League</label>
  <input
    *ngIf="selectedPlayer.id"
    formControlName="leagueName"
    type="text"
    class="form-control">
  
  <select
    *ngIf="!selectedPlayer.id"
    formControlName="league"
    class="form-control"
    id="league">
    <option *ngFor="let league of leagues$ | async" [ngValue]="league">{{league.leagueName}}</option>
  </select>

  <label for="division">Division</label>
  <input
    *ngIf="selectedPlayer.id"
    formControlName="divisionName"
    type="text"
    class="form-control">
  
  <select
    *ngIf="!selectedPlayer.id"
    formControlName="division"
    class="form-control"
    id="division">
    <option *ngFor="let division of divisions$ | async | filterBy: league" [ngValue]="division">{{division.divisionName}}</option>
  </select>

  <label for="team">Team</label>
  <input
    *ngIf="selectedPlayer.id"
    formControlName="teamName"
    type="text"
    class="form-control">
  
  <select
    *ngIf="!selectedPlayer.id"
    formControlName="team"
    class="form-control"
    id="team">
    <option *ngFor="let team of teams$ | async | filterBy: division" [ngValue]="team">{{team.teamName}}</option>
  </select>
  
  <div class="form-group">
    <label for="player">Player</label>
    <input
      formControlName="playerName"
      type="text"
      class="form-control"
      id="player"
      placeholder="ex Johnny Hockey">
  </div>
  
  <button (click)="cancel()" type="button" class="btn btn-default">Cancel</button>
  <button type="submit" class="btn btn-primary">Save</button>

</form>
