<h2>Add Team</h2>
<form (ngSubmit)="createTeam(form)" #form="ngForm" class="mar-top-2">
  
  <label for="league">League</label>
  <select
    ngModel
    (ngModelChange)="onChangeLeague($event)"
    name="leagueSelected"
    class="form-control"
    id="league"
    required>
    <option *ngFor="let league of leagues" [ngValue]="league">{{league.leagueName}}</option>
  </select>
  
  <label for="division">Division</label>
  <select
    ngModel
    name="divisionSelected"
    class="form-control"
    id="division"
    required>
    <option *ngFor="let division of divisions | filterBy: leagueId" [ngValue]="division">{{division.divisionName}}</option>
  </select>
  
  <div class="form-group">
    <label for="team">Team</label>
    <input
      ngModel
      name="teamName"
      type="text"
      class="form-control"
      id="team"
      placeholder="ex Falcons, Sharks"
      required>
  </div>
  
  <button type="submit" class="btn btn-primary btn-block">Add</button>
  <button (click)="goBack()" type="button" class="btn btn-danger btn-block">Cancel</button>

</form>