<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" routerLinkActive="active"><a routerLink="/auth">Login</a></li>
        <li role="presentation" routerLinkActive="active"><a routerLink="/leagues">Leagues</a></li>
        <li role="presentation" routerLinkActive="active"><a routerLink="/divisions">Divisions</a></li>
        <li role="presentation" routerLinkActive="active"><a routerLink="/seasons">Seasons</a></li>
        <li role="presentation" routerLinkActive="active"><a routerLink="/games">Games</a></li>
        <li role="presentation" routerLinkActive="active"><a routerLink="/scores">Scores</a></li>
      </ul>
    </nav>
    <h3 class="text-muted">Log My Score</h3>
  </div>
  <router-outlet></router-outlet>
</div>