<div *ngIf="team">
  <h2>Update Team</h2>
  <form (ngSubmit)="updateTeam(form)" #form="ngForm" class="mar-top-2">
    
    <label for="league">League</label>
    <select
      [ngModel]="leagueSelected"
      (ngModelChange)="onChangeLeague($event)"
      name="leagueSelected"
      class="form-control"
      id="league"
      required>
      <option *ngFor="let league of leagues" [ngValue]="league">{{league.leagueName}}</option>
    </select>
    
    <label for="division">Division</label>
    <select
      [ngModel]="divisionSelected"
      (ngModelChange)="onChangeDivision($event)"
      name="divisionSelected"
      class="form-control"
      id="division"
      required>
      <option *ngFor="let division of divisions | filterBy: leagueId" [ngValue]="division">{{division.divisionName}}</option>
    </select>
    
    <div class="form-group">
      <label for="team">Team</label>
      <input
        [(ngModel)]="team.teamName"
        name="team.teamName"
        type="text"
        class="form-control"
        id="team"
        placeholder="ex Falcons, Sharks"
        required>
    </div>
    
    <button type="submit" class="btn btn-primary btn-block">Update Team</button>
    <button (click)="deleteTeam(team.id)" type="button" class="btn btn-danger btn-block">Delete</button>
    <button (click)="goBack()" type="button" class="btn btn-default btn-block">Cancel</button>

  </form>
</div>