<!-- INITIAL SCREEN (NO PLAYERS PRESENT) -->
<!--<div *ngIf="noPlayers === true" class="mar-top-2">
  <div class="text-center">
    <h2><span class="glyphicon glyphicon-star" aria-hidden="true"></span></h2>
    <h3>Add Players</h3>
    <p>You have players you play in. Good players, bad players, you want to play in them all. No problem! Here is where you add players you play in. Yes, even the bad ones ;)</p>
    <a [routerLink]="['new']" class="btn btn-primary">Add Players</a>
  </div>
</div>-->




<!-- PLAYERS SCREEN -->
<!--<div *ngIf="noPlayers === false">-->
  <h2>Players</h2>
  <!--<a [routerLink]="['new']" class="btn btn-primary btn-block">New Player</a>-->
  <table class="table mar-top-2">
    <thead>
      <tr>
        <th>Players</th>
        <th>Teams</th>
        <th>Leagues</th>
        <th>Divisions</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of players" (click)="selected.emit(player)">
        <td>{{player.playerName}}</td>
        <td>{{player.teamName}}</td>
        <td>{{player.leagueName}}</td>
        <td>{{player.divisionName}}</td>
        <td>
          <button (click)="deleted.emit(player); $event.stopPropagation();" type="button" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
<!--</div>-->