/* You can add global styles to this file, and also import other style files */
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .container {
      max-width: 1000px;
  }
}





/* ==========================================================================
   Margin
   ========================================================================== */
.mar-0 { margin: 0; }
.mar-h { margin: .5rem; }
.mar-1 { margin: 1rem; }
.mar-1h { margin: 1.5rem; }
.mar-2 { margin: 2rem; }
.mar-2h { margin: 2.5rem; }
.mar-3 { margin: 3rem; }
.mar-3h { margin: 3.5rem; }
.mar-4 { margin: 4rem; }
.mar-4h { margin: 4.5rem; }
.mar-5 { margin: 5rem; }
.mar-5h { margin: 5.5rem; }
.mar-6 { margin: 6rem; }
.mar-6h { margin: 6.5rem; }

.mar-top-0 { margin-top: 0; }
.mar-top-h { margin-top: .5rem; }
.mar-top-1 { margin-top: 1rem; }
.mar-top-1h { margin-top: 1.5rem; }
.mar-top-2 { margin-top: 2rem; }
.mar-top-2h { margin-top: 2.5rem; }
.mar-top-3 { margin-top: 3rem; }
.mar-top-3h { margin-top: 3.5rem; }
.mar-top-4 { margin-top: 4rem; }
.mar-top-4h { margin-top: 4.5rem; }
.mar-top-5 { margin-top: 5rem; }
.mar-top-5h { margin-top: 5.5rem; }
.mar-top-6 { margin-top: 6rem; }
.mar-top-6h { margin-top: 6.5rem; }

.mar-bot-0 { margin-bottom: 0 !important; }
.mar-bot-h { margin-bottom: .5rem; }
.mar-bot-1 { margin-bottom: 1rem; }
.mar-bot-1h { margin-bottom: 1.5rem; }
.mar-bot-2 { margin-bottom: 2rem; }
.mar-bot-2h { margin-bottom: 2.5rem; }
.mar-bot-3 { margin-bottom: 3rem; }
.mar-bot-3h { margin-bottom: 3.5rem; }
.mar-bot-4 { margin-bottom: 4rem; }
.mar-bot-4h { margin-bottom: 4.5rem; }
.mar-bot-5 { margin-bottom: 5rem; }
.mar-bot-5h { margin-bottom: 5.5rem; }
.mar-bot-6 { margin-bottom: 6rem; }
.mar-bot-6h { margin-bottom: 6.5rem; }

.mar-tb-0 { margin-top: 0;       margin-bottom: 0; }
.mar-tb-h { margin-top: .5rem;  margin-bottom: .5rem; }
.mar-tb-1 { margin-top: 1rem;    margin-bottom: 1rem; }
.mar-tb-1h { margin-top: 1.5rem; margin-bottom: 1.5rem; }
.mar-tb-2 { margin-top: 2rem;    margin-bottom: 2rem; }
.mar-tb-2h { margin-top: 2.5rem; margin-bottom: 2.5rem; }
.mar-tb-3 { margin-top: 3rem;    margin-bottom: 3rem; }
.mar-tb-3h { margin-top: 3.5rem; margin-bottom: 3.5rem; }
.mar-tb-4 { margin-top: 4rem;    margin-bottom: 4rem; }
.mar-tb-4h { margin-top: 4.5rem; margin-bottom: 4.5rem; }
.mar-tb-5 { margin-top: 5rem;    margin-bottom: 5rem; }
.mar-tb-5h { margin-top: 5.5rem; margin-bottom: 5.5rem; }
.mar-tb-6 { margin-top: 6rem;    margin-bottom: 6rem; }
.mar-tb-6h { margin-top: 6.5rem; margin-bottom: 6.5rem; }

.mar-left-0 { margin-left: 0; }
.mar-left-h { margin-left: .5rem; }
.mar-left-1 { margin-left: 1rem; }
.mar-left-1h { margin-left: 1.5rem; }
.mar-left-2 { margin-left: 2rem; }
.mar-left-2h { margin-left: 2.5rem; }
.mar-left-3 { margin-left: 3rem; }
.mar-left-3h { margin-left: 3.5rem; }
.mar-left-4 { margin-left: 4rem; }
.mar-left-4h { margin-left: 4.5rem; }
.mar-left-5 { margin-left: 5rem; }
.mar-left-5h { margin-left: 5.5rem; }
.mar-left-6 { margin-left: 6rem; }
.mar-left-6h { margin-left: 6.5rem; }

.mar-right-0 { margin-right: 0; }
.mar-right-h { margin-right: .5rem; }
.mar-right-1 { margin-right: 1rem; }
.mar-right-1h { margin-right: 1.5rem; }
.mar-right-2 { margin-right: 2rem; }
.mar-right-2h { margin-right: 2.5rem; }
.mar-right-3 { margin-right: 3rem; }
.mar-right-3h { margin-right: 3.5rem; }
.mar-right-4 { margin-right: 4rem; }
.mar-right-4h { margin-right: 4.5rem; }
.mar-right-5 { margin-right: 5rem; }
.mar-right-5h { margin-right: 5.5rem; }
.mar-right-6 { margin-right: 6rem; }
.mar-right-6h { margin-right: 6.5rem; }

.mar-lr-0 { margin-left: 0;       margin-right: 0; }
.mar-lr-h { margin-left: .5rem;  margin-right: .5rem; }
.mar-lr-1 { margin-left: 1rem;    margin-right: 1rem; }
.mar-lr-1h { margin-left: 1.5rem; margin-right: 1.5rem; }
.mar-lr-2 { margin-left: 2rem;    margin-right: 2rem; }
.mar-lr-2h { margin-left: 2.5rem; margin-right: 2.5rem; }
.mar-lr-3 { margin-left: 3rem;    margin-right: 3rem; }
.mar-lr-3h { margin-left: 3.5rem; margin-right: 3.5rem; }
.mar-lr-4 { margin-left: 4rem;    margin-right: 4rem; }
.mar-lr-4h { margin-left: 4.5rem; margin-right: 4.5rem; }
.mar-lr-5 { margin-left: 5rem;    margin-right: 5rem; }
.mar-lr-5h { margin-left: 5.5rem; margin-right: 5.5rem; }
.mar-lr-6 { margin-left: 6rem;    margin-right: 6rem; }
.mar-lr-6h { margin-left: 6.5rem; margin-right: 6.5rem; }


/* ==========================================================================
   Padding
   ========================================================================== */
.pad-0 { padding: 0; }
.pad-h { padding: .5rem; }
.pad-1 { padding: 1rem; }
.pad-1h { padding: 1.5rem; }
.pad-2 { padding: 2rem; }
.pad-2h { padding: 2.5rem; }
.pad-3 { padding: 3rem; }
.pad-3h { padding: 3.5rem; }
.pad-4 { padding: 4rem; }
.pad-4h { padding: 4.5rem; }
.pad-5 { padding: 5rem; }
.pad-5h { padding: 5.5rem; }
.pad-6 { padding: 6rem; }
.pad-6h { padding: 6.5rem; }

.pad-top-0 { padding-top: 0; }
.pad-top-h { padding-top: .5rem; }
.pad-top-1 { padding-top: 1rem; }
.pad-top-1h { padding-top: 1.5rem; }
.pad-top-2 { padding-top: 2rem; }
.pad-top-2h { padding-top: 2.5rem; }
.pad-top-3 { padding-top: 3rem; }
.pad-top-3h { padding-top: 3.5rem; }
.pad-top-4 { padding-top: 4rem; }
.pad-top-4h { padding-top: 4.5rem; }
.pad-top-5 { padding-top: 5rem; }
.pad-top-5h { padding-top: 5.5rem; }
.pad-top-6 { padding-top: 6rem; }
.pad-top-6h { padding-top: 6.5rem; }

.pad-bot-0 { padding-bottom: 0; }
.pad-bot-h { padding-bottom: .5rem; }
.pad-bot-1 { padding-bottom: 1rem; }
.pad-bot-1h { padding-bottom: 1.5rem; }
.pad-bot-2 { padding-bottom: 2rem; }
.pad-bot-2h { padding-bottom: 2.5rem; }
.pad-bot-3 { padding-bottom: 3rem; }
.pad-bot-3h { padding-bottom: 3.5rem; }
.pad-bot-4 { padding-bottom: 4rem; }
.pad-bot-4h { padding-bottom: 4.5rem; }
.pad-bot-5 { padding-bottom: 5rem; }
.pad-bot-5h { padding-bottom: 5.5rem; }
.pad-bot-6 { padding-bottom: 6rem; }
.pad-bot-6h { padding-bottom: 6.5rem; }

.pad-tb-0 { padding-top: 0;       padding-bottom: 0; }
.pad-tb-h { padding-top: .5rem;  padding-bottom: .5rem; }
.pad-tb-1 { padding-top: 1rem;    padding-bottom: 1rem; }
.pad-tb-1h { padding-top: 1.5rem; padding-bottom: 1.5rem; }
.pad-tb-2 { padding-top: 2rem;    padding-bottom: 2rem; }
.pad-tb-2h { padding-top: 2.5rem; padding-bottom: 2.5rem; }
.pad-tb-3 { padding-top: 3rem;    padding-bottom: 3rem; }
.pad-tb-3h { padding-top: 3.5rem; padding-bottom: 3.5rem; }
.pad-tb-4 { padding-top: 4rem;    padding-bottom: 4rem; }
.pad-tb-4h { padding-top: 4.5rem; padding-bottom: 4.5rem; }
.pad-tb-5 { padding-top: 5rem;    padding-bottom: 5rem; }
.pad-tb-5h { padding-top: 5.5rem; padding-bottom: 5.5rem; }
.pad-tb-6 { padding-top: 6rem;    padding-bottom: 6rem; }
.pad-tb-6h { padding-top: 6.5rem; padding-bottom: 6.5rem; }

.pad-left-0 { padding-left: 0; }
.pad-left-h { padding-left: .5rem; }
.pad-left-1 { padding-left: 1rem; }
.pad-left-1h { padding-left: 1.5rem; }
.pad-left-2 { padding-left: 2rem; }
.pad-left-2h { padding-left: 2.5rem; }
.pad-left-3 { padding-left: 3rem; }
.pad-left-3h { padding-left: 3.5rem; }
.pad-left-4 { padding-left: 4rem; }
.pad-left-4h { padding-left: 4.5rem; }
.pad-left-5 { padding-left: 5rem; }
.pad-left-5h { padding-left: 5.5rem; }
.pad-left-6 { padding-left: 6rem; }
.pad-left-6h { padding-left: 6.5rem; }

.pad-right-0 { padding-right: 0; }
.pad-right-h { padding-right: .5rem; }
.pad-right-1 { padding-right: 1rem; }
.pad-right-1h { padding-right: 1.5rem; }
.pad-right-2 { padding-right: 2rem; }
.pad-right-2h { padding-right: 2.5rem; }
.pad-right-3 { padding-right: 3rem; }
.pad-right-3h { padding-right: 3.5rem; }
.pad-right-4 { padding-right: 4rem; }
.pad-right-4h { padding-right: 4.5rem; }
.pad-right-5 { padding-right: 5rem; }
.pad-right-5h { padding-right: 5.5rem; }
.pad-right-6 { padding-right: 6rem; }
.pad-right-6h { padding-right: 6.5rem; }

.pad-lr-0 { padding-left: 0;       padding-right: 0; }
.pad-lr-h { padding-left: .5rem;  padding-right: .5rem; }
.pad-lr-1 { padding-left: 1rem;    padding-right: 1rem; }
.pad-lr-1h { padding-left: 1.5rem; padding-right: 1.5rem; }
.pad-lr-2 { padding-left: 2rem;    padding-right: 2rem; }
.pad-lr-2h { padding-left: 2.5rem; padding-right: 2.5rem; }
.pad-lr-3 { padding-left: 3rem;    padding-right: 3rem; }
.pad-lr-3h { padding-left: 3.5rem; padding-right: 3.5rem; }
.pad-lr-4 { padding-left: 4rem;    padding-right: 4rem; }
.pad-lr-4h { padding-left: 4.5rem; padding-right: 4.5rem; }
.pad-lr-5 { padding-left: 5rem;    padding-right: 5rem; }
.pad-lr-5h { padding-left: 5.5rem; padding-right: 5.5rem; }
.pad-lr-6 { padding-left: 6rem;    padding-right: 6rem; }
.pad-lr-6h { padding-left: 6.5rem; padding-right: 6.5rem; }