<h2 *ngIf="selectedDivision.id">Edit {{originalName}}</h2>
<h2 *ngIf="!selectedDivision.id">Add Division</h2>

<form (ngSubmit)="save()" [formGroup]="divisionForm">
  
  <label for="league">League</label>
  <input
    *ngIf="selectedDivision.id"
    formControlName="leagueName"
    type="text"
    class="form-control">
  
  <select
    *ngIf="!selectedDivision.id"
    formControlName="league"
    class="form-control"
    id="league">
    <option *ngFor="let league of leagues$ | async" [ngValue]="league">{{league.leagueName}}</option>
  </select>
  
  <div class="form-group">
    <label for="division">Division</label>
    <input
      formControlName="divisionName"
      type="text"
      class="form-control"
      id="division"
      placeholder="ex A, B, C, D, E, Rec">
  </div>
  
  <button (click)="cancel()" type="button" class="btn btn-default">Cancel</button>
  <button type="submit" class="btn btn-primary">Save</button>

</form>
